@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
  //  font-optical-sizing: auto;
  //  font-weight: <weight>;
   // font-style: normal;
}

a{
    text-decoration: none;
}

html{
    font-size: 90%;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

:root{
    --white: 
}

.icon{
    cursor: pointer;
}

.button{
    cursor: pointer;
    padding: 0.8rem 1rem;
}