.rag-red {
   // background-color: #cc222244;
  }

.ag-theme-quartz {

    height: 100vw;
    width: 100%;
    .ag-header {
      background-color: #f0f0f0;
      color: #333;
      font-weight: bold;

    }
    
    .ag-cell {
      border: 0 solid #ccc;
      //width: auto;
      //width: fit-content;
    width: 1px;
    }
  }
  
  .rejected-red-dot{
    background-color: red;
  }
  
  .live-blue-dot {
    background-color: blue;
  }

  .accepted-green-dot {
    background-color: rgb(22, 146, 32);
  }
  
  
  .none-grey-dot, .grey-dot {
    background-color: rgb(184, 184, 184);
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  